@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,400;1,500&family=Kalnia&family=Mina:wght@700&family=Noto+Sans&display=swap");

form {
  font-family: "Mina", sans-serif;
  margin-left: 500px;
}
h3 {
  font-family: "Mina", sans-serif;
  margin-left: 540px;
}
button {
  font-family: "Mina", sans-serif;
  background-color: rgb(245, 177, 50);
  color: white;
  border-radius: 10px;
}
div {
  background-color: plum;
  align-items: center;
  height: 300px;

  margin-left: 200px;
  padding-top: 40px;
}
input[type="date"] {
  background-color: rgb(243, 187, 84);
  border-radius: 5px;
}

footer {
  margin-left: 500px;
}
a {
  margin: 10px;
  color: azure;
  text-decoration: none;
}
